
*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Segoe UI;
background:linear-gradient(135deg,#020617,#0f172a,#1e293b);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
color:white;
}

.box{
width:95%;
max-width:900px;
height:95vh;
background:rgba(255,255,255,.05);
backdrop-filter:blur(20px);
border-radius:25px;
padding:20px;
display:flex;
flex-direction:column;
}

.top{
display:flex;
gap:15px;
align-items:center;
margin-bottom:15px;
}

.logo{
width:50px;
height:50px;
border-radius:50%;
background:linear-gradient(135deg,#38bdf8,#22c55e);
display:flex;
justify-content:center;
align-items:center;
font-weight:bold;
}

#chat{
flex:1;
overflow:auto;
padding:10px;
}

.msg{
max-width:75%;
padding:14px;
margin:10px 0;
border-radius:15px;
position:relative;
}

.msg span{
display:block;
font-size:10px;
opacity:.6;
margin-top:6px;
}

.user{
background:#2563eb;
margin-left:auto;
}

.bot{
background:#334155;
}

.row{
display:flex;
gap:10px;
margin-top:15px;
}

input{
flex:1;
padding:15px;
border:none;
outline:none;
border-radius:15px;
font-size:16px;
}

button{
padding:15px 22px;
border:none;
border-radius:15px;
background:#38bdf8;
font-weight:bold;
cursor:pointer;
}
